$display-array: block, inline-block, inline, flex, inline-flex, table, inline-table, table-caption, table-cell, table-column, table-column-group, table-footer-group, table-header-group, table-row-group, table-row, flow-root, grid, inline-grid, contents, list-item;

@each $value in $display-array {
    .#{$value} {
        display: $value;
    }
}

.hidden {
    display: none !important;
}
.display-none {
    display: none !important;
}
