@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Color palette */
$colors: (
    "primary": #b76e79,

    "red": #ff1414,
        "maroon": #800000,
        "brown": #a52a2a,
        "tan": #d2b48c,
    "orange": #ffa500,
        "gold": #ffd700,
        "yellow": #ffff14,
    "lime": #14ff14,
        "olive": #858500,
    "green": #009400,
    "teal": #009494,
    "cyan": #00f0f0,
    "blue": #1414ff,
        "navy": #000094,
    "purple": #9914ff,
        "magenta": #ff2eff,
        "pink": #ffc0cb,
    "gray": #828282,
        "silver": #c0c0c0,
    "black": #0a0a0a,
    "white": #f7f7f7
) !default;

/* Reset styles */
* {
    color: inherit;
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px dotted #efefef;
}

img {
    max-width: 100%;
}
