$border-radius-map: (
    "0": 0,
    "1": 0.0625rem,
    "2": 0.125rem,
    "3": 0.1875rem,
    "4": 0.25rem,
    "5": 0.375rem,
    "6": 0.5rem,
    "7": 0.625rem,
    "8": 0.75rem,
    "9": 1rem,
    "10": 1.25rem,
    "11": 1.5rem,
    "12": 1.75rem,
    "full": 99999px
);

$border-thickness-values: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

@each $prefix, $value in $border-radius-map {
    .border-radius-#{$prefix} {
        border-radius: $value;
    }
}

/* TODO Implement border colors */
@each $value in $border-thickness-values {
    .border-#{$value} {
        border-width: $value+px;
    }

    .border-l-#{$value} {
        border-left-width: $value+px;
    }
    .border-r-#{$value} {
        border-right-width: $value+px;
    }
    .border-t-#{$value} {
        border-top-width: $value+px;
    }
    .border-b-#{$value} {
        border-bottom-width: $value+px;
    }
}

@each $key, $val in $colors {
    .border-#{$key} {
        border-color: $val;
    }
}

.border-solid {
    border-style: solid;
}
.border-dashed {
    border-style: dashed;
}
.border-dotted {
    border-style: dotted;
}
.border-double {
    border-style: double;
}
.border-none {
    border-style: none;
}
