$font-weights: (
    "thin": 200,
    "extralight": 200,
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "extrabold": 800,
    "black": 900
);

$font-sizes: (
    "1": 0.75rem,
    "2": 0.875rem,
    "3": 1rem,
    "4": 1.125rem,
    "5": 1.25rem,
    "6": 1.5rem,
    "7": 1.875rem,
    "8": 2.25rem,
    "9": 3rem,
    "10": 4.5rem,
    "11": 6rem,
    "12": 8rem,
);

@each $prefix, $value in $font-sizes {
    .font-#{$prefix} {
        font-size: #{$value};
    }
}

@each $prefix, $value in $font-weights {
    .font-#{$prefix} {
        font-weight: #{$value};
    }
}
